python-dotenv
jupyterlab
ipywidgets
requests
numpy
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
openai
gradio
tiktoken
faiss-cpu
datasets
sentencepiece
matplotlib
google-generativeai
anthropic
chromadb
plotly
jupyter-dash
beautifulsoup4
modal
ollama
accelerate
bitsandbytes
psutil
setuptools
speedtest-cli
torchviz
groq
networkx